# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Structured Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/
share/

# AI Models
*.pt
*.pth

# IDE Settings
.vscode/
.idea/
*.swp

# OS 
.DS_Store
Thumbs.db

# Logs
*.log

# 
Config_local.py
.env


